@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --border_light: #ffff;
    --border_Dark: #0000;
    /* ... */
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
